<nav class="navbar navbar bg-warning   justify-content-center ">
  <a class="navbar-brand ">List </a>
  <form class="form-inline">
    {{!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> --}}
    {{!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> --}}
  </form>
</nav>

<div>
    <ol class="list-group list-group-numbered">
        {{#each table}}
  <li class="list-group-item">{{this.name}}</li>
 {{/each}}
</ol>
</div>
    